<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Tests Suite" parallel="false" verbose="2">

    <test name="Web Tests">
        <classes>
            <class name="tests.web.WikipediaWebTests"/>
        </classes>
    </test>

    <test name="Mobile Tests">
        <classes>
            <class name="tests.mobile.WikipediaMobileTests"/>
        </classes>
    </test>

</suite>
